.idea/
__pycache__/
.venv/
.vscode/
temp/
config/
config/.env_test
build/
dist/
login_gmail_selenium/util/__pycache__/
login_gmail_selenium/common/__pycache__/
.*
!/.gitignore
login_gmail_selenium.egg-info/
test/

